{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="sticky-top">
        <table class="sticky_table">
            {{ form.certifications.errors }}
            {% if item.name != null %}
                {% if 'update1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>コミュニケーション力（情報伝達・発信力）</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>患者・利用者・同僚の言いたいことを聴く力。<br>自分の考えを相手に応じてわかりやすく的確に伝えられる。<br>組織において必要な情報を、的確にわかりやすく正確に伝える力。<br>自己の理論や企画を実行に移すために、関係者を説得、調整する力。</h6></div></small></h2>
                {% endif %}
                {% if 'update2' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>責任感</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>自己の責任を意識しそれを果たそうとする力</h6></div></small></h2>
                {% endif %}
                {% if 'update3' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>人材育成</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>チームメンバーのやる気と生産性を高め、一人ひとりの成長を促す力</h6></div></small></h2>
                {% endif %}
                {% if 'update4' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>企画推進力</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>長期的視点での部署運営より高い課題、ハードルに挑戦し克服していこうとする力</h6></div></small></h2>
                {% endif %}
                {% if 'update5' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>経営感覚・経営貢献</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>業績に関心を持ち自部署だけでなく法人の利益のための広い視野で物事を考える力</h6></div></small></h2>
                {% endif %}
                {% if 'update6' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>マネジメント力・組織管理能力</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>表面的な情報だけでなく、自分自身の考察を加え、真の課題、問題を的確に捉え、解決策を見出し、チーム全体で行動を促す力</h6></div></small></h2>
                {% endif %}
            {% endif %}
            {% if messages %}
                <ul class="alert alert-warning">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}    
        </table>
    </div>
    <div class="mb-auto">
        <div class="jumbotron jumbotron-extend">
            <form method="post" id="myform">
                <h5 class="text-left"><div class="font-weight-bold">{% crispy form %}</div></h5>
            </form>
        </div>
    </div>
    <div class="fixed-bottom">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-dark rounded-pill save" href="{% url 'index' %}">保存せずに終了</a>
                    {% if 'update16' in request.get_full_path %}
                        <a class="btn btn-dark rounded-pill save" href="#">保存して終了</a>
                    {% else %}
                        <a class="btn btn-dark rounded-pill save" href="#">保存して次の評価へ</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}