{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {{ form.certifications.errors }}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">{{ item1.name }}　さんの一次評価</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-dark save" href="{% url 'index' %}">戻る</a>
                    {% if 'update6' in request.get_full_path %}
                        <a class="btn btn-outline-dark save" href="#">保存して終了</a>
                    {% else %}
                        <a class="btn btn-outline-dark save" href="#">保存して次の評価へ</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post" id="myform">
                    {% crispy form %}
                </form>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right mb-3">
                    <a class="btn btn-outline-dark" href="{% url 'index' %}">戻る</a>
                    {% if 'dupdate6' in request.get_full_path %}
                        <a class="btn btn-outline-dark save" href="#">保存して終了</a>
                    {% else %}
                        <a class="btn btn-outline-dark save" href="#">保存して次の評価へ</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}