{% extends "./_base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load guardian_tags %}
    {% load rules %}
    <div class="container">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">検索条件</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="filter" method="get">
                        <div class="modal-body">
                            {{ filter.form|crispy }}
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a class="btn btn-outline-dark" data-dismiss="modal">戻る</a>
                        {% if request.user.is_superuser %}
                            <button type="submit" class="btn btn-outline-dark" form="filter">検索</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-secondary filtered" style="visibility:hidden" href="/?page=1">検索を解除</a>
                <div class="float-right mt-1">
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-dark" href="{% url 'create' %}" >新規</a>
                        <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for item in item_list %}
                        <li class="list-group-item">
                            {# item_detail_contents.html を参考に必要な項目を追加してください #}
                                <div class="row">
                                    <div class="col-1 col-sm-1">
                                        <p>氏名</p>
                                    </div>
                                    <div class="col-2 col-sm-2">
                                        <p>{{ item.Itemkey }}</p>
                                    </div>
                                    <div class="col-0.5 col-sm-0.5">
                                        <p>所属</p>
                                    </div>
                                    <div class="col-2 col-sm-2">
                                        <p>{{ item.Itemkey.department }}</p>
                                    </div>
                                    <div class="col-0.5 col-sm-0.5">
                                        <p>職種</p>
                                    </div>
                                    <div class="col-2 col-sm-2">
                                        <p>{{ item.Itemkey.job_type }}</p>
                                    </div>
                                    <div class="col-0.5 col-sm-0.5">
                                        <p>役職</p>
                                    </div>
                                    <div class="col-1 col-sm-1">
                                        <p>{{ item.Itemkey.title }}</p>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right">
                                        {% if item.created_by_id == request.user.id %}
                                            {% if item.Itemkey.job_type == "医師" %}
                                                {% if item.Itemkey.title == "部長" %}
                                                    {% if item.flag == 1 %}
                                                        <a class="btn-sm btn-success rounded-pill " href="{% url 'update1_2' item.pk %}">【評価済】自己評価</a>
                                                    {% else %}
                                                        <a class="btn-sm btn-danger rounded-pill " href="{% url 'update1_2' item.pk %}">【未評価】自己評価</a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if item.Itemkey.title != "" %}
                                                        {% if item.flag == 1 %}
                                                            <a class="btn-sm btn-success rounded-pill " href="{% url 'update1' item.pk %}">【評価済】自己評価</a>
                                                        {% else %}
                                                            <a class="btn-sm btn-danger rounded-pill " href="{% url 'update1' item.pk %}">【未評価】自己評価</a>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if item.flag == 1 %}
                                                            <a class="btn-sm btn-success rounded-pill " href="{% url 'update1_1' item.pk %}">【評価済】自己評価</a>
                                                        {% else %}
                                                            <a class="btn-sm btn-danger rounded-pill " href="{% url 'update1_1' item.pk %}">【未評価】自己評価</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% else %}
                                                {% if item.Itemkey.title != "" %}
                                                    {% if item.flag == 1 %}
                                                        <a class="btn-sm btn-success rounded-pill " href="{% url 'update1' item.pk %}">【評価済】自己評価</a>
                                                    {% else %}
                                                        <a class="btn-sm btn-danger rounded-pill " href="{% url 'update1' item.pk %}">【未評価】自己評価</a>
                                                    {% endif %}
                                                {% else %}
                                                    {% if item.flag == 1 %}
                                                        <a class="btn-sm btn-success rounded-pill " href="{% url 'update1_1' item.pk %}">【評価済】自己評価</a>
                                                    {% else %}
                                                        <a class="btn-sm btn-danger rounded-pill " href="{% url 'update1_1' item.pk %}">【未評価】自己評価</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if item.created_by_id != request.user.id %}
                                            {% if perms.app.change_item1 == True %}
                                            {% has_perm 'app.rules_view_item1' request.user item as rules_view_item1 %}
                                                {% if rules_view_item1 %}
                                                    {% if item.Itemkey.job_type == "医師" %}
                                                        {% if item.Itemkey.title == "部長" %}
                                                            {% if item.flag1 == 1 %}
                                                                <a class="btn-sm btn-success " href="{% url 'update11_2' item.pk %}">【評価済】一次評価</a>
                                                            {% else %}
                                                                <a class="btn-sm btn-danger " href="{% url 'update11_2' item.pk %}">【未評価】一次評価</a>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if item.Itemkey.title != "" %}
                                                                {% if item.flag1 == 1 %}
                                                                    <a class="btn-sm btn-success " href="{% url 'update1_1' item.pk %}">【評価済】一次評価</a>
                                                                {% else %}
                                                                    <a class="btn-sm btn-danger " href="{% url 'update1_1' item.pk %}">【未評価】一次評価</a>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if item.flag1 == 1 %}
                                                                    <a class="btn-sm btn-success " href="{% url 'update11_1' item.pk %}">【評価済】一次評価</a>
                                                                {% else %}
                                                                    <a class="btn-sm btn-danger " href="{% url 'update11_1' item.pk %}">【未評価】一次評価</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if item.Itemkey.title != "" %}
                                                            {% if item.flag1 == 1 %}
                                                                <a class="btn-sm btn-success " href="{% url 'update11' item.pk %}">【評価済】一次評価</a>
                                                            {% else %}
                                                                <a class="btn-sm btn-danger " href="{% url 'update11' item.pk %}">【未評価】一次評価</a>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if item.flag1 == 1 %}
                                                                <a class="btn-sm btn-success " href="{% url 'update11_1' item.pk %}">【評価済】一次評価</a>
                                                            {% else %}
                                                                <a class="btn-sm btn-danger " href="{% url 'update11_1' item.pk %}">【未評価】一次評価</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% if perms.app.change_item2 == True %}
                                            {% has_perm 'app.rules_add_item2' request.user item as rules_add_item2 %}
                                                {% if rules_add_item2 %}
                                                    {% if item.Itemkey.job_type == "医師" %}
                                                        {% if item.Itemkey.title == "部長" %}
                                                            {% if item.flag2 == 1 %}
                                                                <a class="btn-sm btn-success " href="{% url 'update21_2' item.pk %}">【評価済】二次評価</a>
                                                            {% else %}
                                                                <a class="btn-sm btn-danger " href="{% url 'update21_2' item.pk %}">【未評価】二次評価</a>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if item.Itemkey.title != "" %}
                                                                {% if item.flag2 == 1 %}
                                                                    <a class="btn-sm btn-success " href="{% url 'update21' item.pk %}">【評価済】二次評価</a>
                                                                {% else %}
                                                                    <a class="btn-sm btn-danger " href="{% url 'update21' item.pk %}">【未評価】二次評価</a>
                                                                {% endif %}
                                                            {% else %}
                                                                {% if item.flag2 == 1 %}
                                                                    <a class="btn-sm btn-success " href="{% url 'update21_1' item.pk %}">【評価済】二次評価</a>
                                                                {% else %}
                                                                    <a class="btn-sm btn-danger " href="{% url 'update21_1' item.pk %}">【未評価】二次評価</a>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if item.Itemkey.title != "" %}
                                                            {% if item.flag2 == 1 %}
                                                                <a class="btn-sm btn-success " href="{% url 'update21' item.pk %}">【評価済】二次評価</a>
                                                            {% else %}
                                                                <a class="btn-sm btn-danger " href="{% url 'update21' item.pk %}">【未評価】二次評価</a>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if item.flag2 == 1 %}
                                                                <a class="btn-sm btn-success " href="{% url 'update21_1' item.pk %}">【評価済】二次評価</a>
                                                            {% else %}
                                                                <a class="btn-sm btn-danger " href="{% url 'update21_1' item.pk %}">【未評価】二次評価</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item">
                            対象のデータがありません
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-10 mx-auto">
                {% include "./_pagination.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-right mt-1 mb-3">
                    {% if request.user.is_superuser %}
                        <a class="btn btn-outline-dark" href="{% url 'create' %}">新規</a>
                        <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal" href="#">検索</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}