{% extends "./_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="sticky-top">
        <table class="sticky_table">
            {{ form.certifications.errors }}
            {% if item3.name != null %}
                {% if 'update1_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>コミュニケーション力（情報伝達・発信力）</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>患者・利用者・同僚の言いたいことを聴く力。<br>自分の考えを患者・利用者・同僚に応じてわかりやすく的確に伝えられる。<br>信頼関係を築く力・察する力</h6></div></small></h2>
                {% endif %}
                {% if 'update2_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>チームワーク</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>同じ目標に向かって、団結し、協働しながら成果を出す力</h6></div></small></h2>
                {% endif %}
                {% if 'update3_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>向上心</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>現状に満足せず、より高いスキルを身につけることや自己の成長のために努力する力</h6></div></small></h2>
                {% endif %}
                {% if 'update4_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>行動力</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>自らの意思で積極的に行動をおこす力。</h6></div></small></h2>
                {% endif %}
                {% if 'update5_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>柔軟性</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>その場その場で機転を利かせて行動する力<br>どのような場面でも変化に応じて適切な判断、対応ができる力</h6></div></small></h2>
                {% endif %}
                {% if 'update6_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>責任感</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>自己の責任を理解し、それを果たそうとする力</h6></div></small></h2>
                {% endif %}
                {% if 'update7_1' in request.get_full_path %}
                    <h2 class="badge-center badge-primary text-center"><br><br>{{ item3.name }}　さんの自己評価<br><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h4>社会人基礎力チェック</h4><small class="text-muted"><div class="p-0 mb-2 badge-primary text-white"><h6>自己の責任を理解し、それを果たそうとする力</h6></div></small></h2>
                {% endif %}
            {% endif %}
            {% if messages %}
                <ul class="alert alert-warning">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}    
        </table>
    </div>
    <div class="mb-auto">
            <div class="jumbotron jumbotron-extend">
                <form method="post" id="myform">
                    <h5 class="text-left"><div class="font-weight-bold">{% crispy form %}</div></h5>
                </form>
            </div>
    </div>
    <div class="fixed-bottom">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-dark rounded-pill save" href="{% url 'index' %}">保存せずに終了</a>
                    {% if 'update7_1' in request.get_full_path %}
                        <a class="btn btn-dark rounded-pill save" href="#">保存して終了</a>
                    {% else %}
                        <a class="btn btn-dark rounded-pill save" href="#">保存して次の評価へ</a>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}